<body>
	<div style="text-align: center; margin-left: 680px;"><a href="/">Home</a>&nbsp;&nbsp;<br>
    </div>
<h1>About Us</h1>
<p>
	We have various types of Indian delicious recipes.<br>
	This has been developed to inspire others to cook. 
</p>
</body>
